body{
	margin : 0px;
	padding : 0px;
	background-image:url("http://fmg-websites-custom.s3.amazonaws.com/345931-williamson/images/tax-services1.jpg");
	background-position: circle;
	background-size:100%;
	}
h1{
	text-align: center;
	text-shadow: georgian;
	background : #999;
	font-family: algerian;
	font-size: 72;
	width: 100%;
}
table{
	margin-left:30%;
	width: 40%;
	height:40%;
	background-color:#e0ebeb !important;
	border: 1px solid black !important;
	border-radius:10px !important;
	margin-bottom: 20px;
	
}
th, td {
    padding: 15px !important;
    text-align: left !important;
}
tr:hover {background-color:#f5f5f5;}

h2
{
	text-align: center;
	text-shadow: georgian;
	font-family:algerian !important;
	color:#266F6B !important;
	font-size:45;
	width:100%;
}
.header{
	background-color: #1A3333;
	color : white;
	text-align : center;
	size: 50%;
	top: 0px;
	width: 100%;
	padding :15px;
	
}

.textInput{
	margin-top : 2px;
	height: 28px;
	border: 1px solid #5E6E66;
	font-size: 16px;
	padding: 1px;
	width:100%;
	
}
#error_msg{
	width: 50%;
	margin: 5px auto;
	height: 30px;
	border: 1px solid #FF0000;
	background: #FFB9B8;
	color: #FF0000;
	text-align: center;
	padding-top: 10px;
}
.error{
	color:red;
}
td{
	text-align: right;
}
.btn{
	margin-left : 40%;
	margin-right:30%;
	margin-top:10%;
}
.control-label 
{
	color: white;
}
.form-group
{
	color: white;
}
img
{
	width: 100%;
}
 .crossfade > figure {
	  animation: imageAnimation 30s linear infinite 0s;
	  backface-visibility: hidden;
	  background-size: cover;
	  background-position: center center;
	  color: transparent;
	  height: 100%;
	  left: 0px;
	  opacity: 0;
	  position: absolute;
	  top: 160px;
	  width: 100%;
	  z-index: 0;
	}
.crossfade > figure:nth-child(1) { background-image: url('https://www.aramcoexpats.com/media/1571/ar_federal-income-tax-info-for-americans.jpg'); }
	.crossfade > figure:nth-child(2) {
	  animation-delay: 6s;
	  background-image: url('http://www.baldwinaccountingcpa.com/wp-content/uploads/iStock_000031018512Small.jpg');
	}
.crossfade > figure:nth-child(3) {
	  animation-delay: 12s;
	  background-image: url('http://www.communitytax.com/wp-content/uploads/2017/09/Income-Tax-Words-Pic.jpg');

	}
.crossfade > figure:nth-child(4) {
	  animation-delay: 18s;
	  background-image: url('https://www.hoganhansen.com/uploads/userfiles/files/documents/tax-services.jpg');

	}
	.crossfade > figure:nth-child(5) {
	  animation-delay: 24s;
	  background-image: url('http://miltaxusa.com/wp-content/uploads/2016/08/Income-Tax1_adtubeindia-2.jpg');
	}	
	
	@keyframes
	imageAnimation {  0% {
	 animation-timing-function: ease-in;
	opacity: 0;
}
	8% {
	 animation-timing-function: ease-out;
	 opacity: 1;
	}
	17% {
	opacity: 1
	}
	25% {
	 opacity: 0
	}
	100% {
		opacity: 0
	 }

	}
	